
@font-face {
  font-family: 'YDIYGO110-KSCpc-EUC-H';
  src: url('webfont/YDIYGO110-KSCpc-EUC-H.eot?#iefix') format('embedded-opentype'),  url('webfont/YDIYGO110-KSCpc-EUC-H.woff') format('woff'), url('webfont/YDIYGO110-KSCpc-EUC-H.ttf')  format('truetype'), url('webfont/YDIYGO110-KSCpc-EUC-H.svg#YDIYGO110-KSCpc-EUC-H') format('svg');
  font-weight: normal;
  font-style: normal;
}
