
@font-face {
  font-family: 'YDIYGO320';
  src: url('webfont/YDIYGO320.eot?#iefix') format('webfont/embedded-opentype'),  url('YDIYGO320.woff') format('woff'), url('webfont/YDIYGO320.ttf')  format('truetype'), url('webfont/YDIYGO320.svg#YDIYGO320') format('svg');
  font-weight: normal;
  font-style: normal;
}
